<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Index Page</h2>
    {% if user.is_authenticated %}
    {% for items in item %}
    <p>Name: {{items.Username}}</p>
    <p>Password : {{items.Number}}</p>
    <p>Number : {{items.Passcode}}</p>
    <p>Gender : {{items.Gender}}</p>
    <p>Singer : {{items.Singer}}</p>

    {{items.Image}}
   
    {% endfor %}
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}


</body>
</html>